<template name="postSubmit">
		<form class="main form page">
				<div class="form-group">
						<label class="control-label" for="url">
								URL
						</label>
						<div class="controls">
								<input class="form-control" id="url" name="url" placeholder="Su URL" type="text" value=""/>
						</div>
				</div>
				<div class="form-group">
						<label class="control-label" for="title">
								Título
						</label>
						<div class="controls">
								<input class="form-control" id="title" name="title" placeholder="Nombre de su Post" type="text" value=""/>
						</div>
				</div>
				<input class="btn btn-primary" type="submit" value="Crear"/>
		</form>
</template>
